<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sem3Project">

        <!-- ✅ ONLY ONE LAUNCHER -->
        <activity
            android:name=".view.RegistrationActivity"
            android:exported="true"
            android:label="Login"
            android:theme="@style/Theme.Sem3Project">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Admin Dashboard (NO launcher) -->
        <activity
            android:name=".view.AdminDashboard"
            android:exported="true"
            android:label="Admin Dashboard"
            android:theme="@style/Theme.Sem3Project" />

        <activity
            android:name=".view.AddBook"
            android:exported="true"
            android:label="Add Book"
            android:theme="@style/Theme.Sem3Project" />

        <activity android:name=".view.Details" />
        <activity android:name=".view.LoginActivity" />
        <activity android:name=".view.Forget" />
        <activity android:name=".view.UserDashboard" />
        <activity android:name=".view.MainActivity" />

    </application>

</manifest>
